.site-header {
  
}
.site-logo {background: darkblue; color: white;
  margin: 0px 200px 0px 200px;
    height: 100px;
      box-sizing: border-box;
  padding: 25px
    

}
.container {
  margin: 0px 200px 0px 225px;
  

}
.search__title {backround: lightblue; box-sizing: border-box;
  
}
.search__form {backround: lightblue;
  
}
.search__choice radio {float: left
  
  
}

.row {

}
.animal {
  
}
.animal__name {

}
.animal__traits {
  
}
.animal__trait {
  
}
.footer {
  
}
.footer_block {
  
}
  
